body {
  background-color: #111;
  color: #fff;
}

.dropdown-menu {
  left: -15%;
  background-color: #555;
}

.dropdown-menu > a {
  color: #fff;
}
.dropdown-menu > a:hover {
  background-color: #555;
  color: #fff;
}

#userImg {
  height: 100%;
}

.btn.btn-dark.dropdown-toggle.text-light.rounded-pill {
  padding: 0;
  padding-right: 0.5rem;
}

#footer {
  background-color: #282828;
  height: 10vh;
  position: sticky;
  bottom: 0;
}

.bg-transparent {
  transition: all 0.5s;
}

/* Modify the backgorund color */
.navbar-custom {
  transition: all 0.5s;
  background-color: #282828;
}

img:hover {
  transition: 0.5s all;
  transform: translateY(-10px);
}

.spotify-logo--text {
  width: 131px;
  height: 40px;
}

#homeSide {
  line-height: 2;
}

.chevron {
  font-size: 2rem;
}

/* SIDE MENU */
/* SIDE MENU */
/* SIDE MENU */
#sideMenu {
  background-color: #000;
  height: 90vh;
  position: sticky;
  left: 0;
  top: 0;
  /* overflow: scroll; */
  flex: 0 0 232px; /* fixing position*/
}
.side-menu a {
  color: rgba(255, 255, 255, 1);
}
/* activew state for side menu */

/* when non active, half alpha */
.side-menu-item a {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  text-decoration: none;
}
/* when non active ad hover, alpha 1 */
.side-menu-item a:hover {
  color: rgba(255, 255, 255, 1);
}

/* when active, full alpha */
.active,
.active a {
  width: 95%;
  background-color: #282828;
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
}

/* playlist side section */

.playlist h5 {
  font-size: 0.8rem;
}

#createPlaylist {
  height: 35px;
  width: 35px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* moving dropdown menu on mobile */
@media (max-width: 768px) {
  #dropDown {
    left: -400%;
  }
}
