body {
  background-color: #111;
  color: #fff;
}

.dropdown-menu {
  left: -10%;
  background-color: #555;
}

.dropdown-menu > a {
  color: #fff;
}
.dropdown-menu > a:hover {
  background-color: #555;
  color: #fff;
}

#userImg {
  height: 100%;
}

.btn.btn-dark.dropdown-toggle.text-light.rounded-pill {
  padding: 0;
  padding-right: 0.5rem;
}

#sideMenu {
  background-color: #000;
  height: 90vh;
  position: sticky;
  left: 0;
  top: 0;
  /* overflow: scroll; */
  flex: 0 0 232px; /* fixing position*/
}
#sideMenu * {
  color: #fff;
}

#footer {
  background-color: #282828;
  height: 10vh;
  position: sticky;
  bottom: 0;
}

.bg-transparent {
  transition: all 0.5s;
}

/* Modify the backgorund color */
.navbar-custom {
  transition: all 0.5s;
  background-color: #282828;
}

img:hover {
  transition: 0.5s all;
  transform: translateY(-10px);
}

.spotify-logo--text {
  width: 131px;
  height: 40px;
}

#homeSide {
  line-height: 3;
}

/* PROVE */
#provaRow {
  width: 300px;
  border: 1px solid #fff;
  height: 20vh;
  position: fixed;

  top: 30%;
  left: 50%;
}

.invisible {
  visibility: hidden;
}

.opaco {
  opacity: 20%;
}
/* ----------------------------- */

/* button menu xs */

/* moving dropdown menu on mobile */
@media (max-width: 768px) {
  #dropDown {
    left: -350%;
  }
}
